.vs/
WpfControlLibrary/obj/
WpfControlLibrary/bin/
CommandsClassLibrary/obj/
CommandsClassLibrary/bin/
WPFUI/bin/
WPFUI/obj/
DAL/bin/
DAL/obj/
BLL/bin/
BLL/obj/
GrpcService/bin/
GrpcService/obj/
Protos/bin/
Protos/obj/
